.gauge-container-bottom {
    position: absolute;
    bottom: 40%;
    @media (max-width: 1024px) {
        bottom: 30%;
    }
    right: 25px;
    width: 125px;
    height: 125px;
    z-index: 9999;
    opacity: 0.50;
    color: white;
    text-align: center;
    background-color: #494949; 
    border-radius: 15px;
    padding-top: 10px;
}

.gauge-align-right {
    display: flex;
    justify-content: right;    
}

.gauge-container-padding {
    padding: 65px
}